.wrap{
	min-height: 100%;
	margin-bottom: -15px;
}

h1{
	width:100%;
	top: 1;
	text-align: center;
	font: bold 75px Sans-Serif;
	padding:40px 0;
	margin: 0;
}

h2{
	background-color: yellow;
	color: #0a0152;
}

body{
	background-color: #0a0152;
}

.module {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	width: 800px;
}

@media screen and (max-width: 670px) {
	.module {
		width: 300px;
	}
	body{
		background-color: #f1fa5b;
	}
	p{
		color: red;
	}
	.texteditawf{
		color: #9a33cb2;
		background: #30fafcd;
	}
	h2{
		background-color: red;
		color: #f1fa5b;
	}
	.artfmt{
		width: 200px;
		height: 600px;
	}
}

.artfmt {
	background-color: #f7daba;
	float: left;
	margin: 5px;
	padding: 5px;
	width: 400px;
	height: 475px;
	border: 1px solid black;
} 

.texteditrwd{
	position: relative;
	background: #50afde;
	color: #4a3b2c1;
	text-shadow: 0 1px 0 #cac,
				 0 2px 0 #c9a7c9,
                 0 3px 0 #b9b,
                 0 4px 0 #b997b9,
                 0 5px 0 #888,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

.texteditawd{
	background: #50afde;
	color: #4a3b2c1;
	text-shadow: 0 1px 0 #cac,
				 0 2px 0 #c9a7c9,
                 0 3px 0 #b9b,
                 0 4px 0 #b997b9,
                 0 5px 0 #888,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}